@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Press+Start+2P&family=Rampart+One&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerGame {
    width: 1000px;
    height: 500px;
    background-color: skyblue;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 5px solid black;
}

.normalBarrier {
    background: linear-gradient(90deg, #07be4a, #A5E82E);
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 70px;
    position: relative;
}

.reverseBarrier {
    background: linear-gradient(90deg, #07be4a, #A5E82E);
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 70px;
}

.border {
    width: 80px;
    height: 20px;
    background: linear-gradient(90deg, #07be4a, #A5E82E);
    position: absolute;
    left: -5px;
    border: 2px solid black;
}
.border1 {
    width: 80px;
    height: 20px;
    background: linear-gradient(90deg, #07be4a, #A5E82E);
    position: absolute;
    bottom: 0px;
    left: -7px;
    border: 2px solid black;
}
.paresBarries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 100%;
    position: absolute;
}
.imageBird{
   width: 50px;
   position: absolute;
   left: 350px;
}

.score {
    font-family: "Press Start 2P";
    font-size: 30px;
    color: gold;
    position: absolute;
    right: 56px;
    top: 20px;
    z-index: 10;
}

.bullet {
    width: 40px;
    position: absolute;
    right: -70px;
}